<!doctype html>
<head>
  <title>Twitter crawler: Geo Map</title>
  <script src="static/jquery-1.8.3.js"></script>
  <script src="static/jquery.graphite.js"></script>
  <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.css" />
  <script src="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.js"></script>
  <script src="http://d3js.org/d3.v2.js"></script>
  <link href="static/css/markers.css" rel="stylesheet" media="screen">
  <script src="static/js/leaflet.markercluster-src.js"></script>
  <script src="static/js/bootstrap-datepicker.js"></script>
  <link href="static/css/datepicker.css" rel="stylesheet" media="screen">
  <style>

body {
  font: 10px sans-serif;
}

.arc path {
  stroke: #fff;
}

#map {
    height: 600px;
}

svg {
  font: 10px sans-serif;
}

path {
  fill: steelblue;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.tweet {
    border: solid 1px #666;
    background-color: #ddd;
    font-size: 12px;
    font-family: Trebuchet, Helvetica, Arial, sans-serif;
    padding: 5px 5px;
    -moz-box-shadow: 2px 2px 3px #e6e6e6;
    -webkit-box-shadow: 2px 2px 3px #e6e6e6;
    box-shadow: 2px 2px 3px #e6e6e6;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
    margin-bottom: 6px;
}


</style>
</head>
<body>
<div class="container">
  {% block body %}
    <div class="row">
        <h3>Select a data range</h3>
        <div class="span3 input-append date" id="dp-start" data-date="2011-12-02" data-date-format="yyyy-mm-dd">
            <input class="span2" size="16" type="text" value="2011-12-02">
            <span class="add-on"><i class="icon-th"></i></span>
        </div>

        <div class="span3 input-append date" id="dp-stop" data-date="2012-12-02" data-date-format="yyyy-mm-dd">
            <input class="span2" size="16" type="text" value="2012-12-02">
            <span class="add-on"><i class="icon-th"></i></span>
        </div>

        <button id="timeline-update" href="#" class="btn small">Update</button>
    </div>

    <div class="row">
        <div class="span6" id="pie"></div>
        <div class="span6" id="timeline-sample"></div>
    </div>

    <div class="row">
        <div id="timeline"></div>
    </div>

    <div class="row">
        <h2>Geographical summary</h2>
        <div id="map" class="img-polaroid"></div>
    </div>
</div>

    <script>
var baseLayer = L.tileLayer('http://{s}.tile.cloudmade.com/{key}/22677/256/{z}/{x}/{y}.png', {
    attribution: 'Map data &copy; 2011 OpenStreetMap contributors, Imagery &copy; 2012 CloudMade',
    key: 'BC9A493B41014CAABB98F0471D759707'
});

var map = new L.Map('map', {
    center: new L.LatLng(51.505, -0.09),
    zoom: 6,
    //layers: [baseLayer, heatmapLayer]
    layers: [baseLayer]
});

map.fitBounds([
    [46.875213396722685, 24.08203125],
    [36.96744946416931, 3.076171875]
]);

map.on('click', function(e) {
    load_tweets(e.latlng);
    //load_heatmap(e.latlng);
});

var markers = new L.MarkerClusterGroup();
map.addLayer(markers);

var load_sample = function(hashtags, start, stop) {
    $.ajax({
        url: '{{ elasticsearch_url }}/twitter/_search',
        type: 'POST',
        data: JSON.stringify({
          "query": {
            "terms": {
              "hashtags": hashtags,
              "minimum_match": 1,
              "limit": 10
            },
            "constant_score": {
              "filter": {
                "range": {
                  "created_at": {
                    "from": start,
                    "to": stop,
                    "include_lower": false,
                    "include_upper": false
                  }
                }
              }
            }
          },
          "sort": {
            "created_at": {
              "order": "desc"
            }
          }
        }),
        dataType : 'json',
        processData: false,
        success: function(json, statusText, xhr) {
            $("#timeline-sample").html('');
            json.hits.hits.forEach(function(d) {
                var tweethtml = "<div class='tweet'>@" + d._source.screen_name + ": " +
                                d._source.text + "</div>";
                $("#timeline-sample").append(tweethtml);
            });
        },
        error: function(xhr, message, error) {
            console.error("Error while loading data from ElasticSearch", message);
            throw(error);
        }
    });
};

var load_hashtags = function(start, stop) {
    $("#pie").html('');

    $.ajax({
        url: '{{ elasticsearch_url }}/twitter/_search',
        type: 'POST',
        data: JSON.stringify({
            "query": {
                "constant_score": {
                  "filter": {
                    "range": {
                      "created_at": {
                        "from": start,
                        "to": stop,
                        "include_lower": false,
                        "include_upper": false
                      }
                    }
                  }
                }
            },
            "facets" : {
                "hashtags" : {
                    "terms" : {
                        "field" : "hashtags",
                        "size"  : "10"
                    }
                }
            }
        }),
        dataType : 'json',
        processData: false,
        success: function(json, statusText, xhr) {
            console.log(json);
            if (json.facets.hashtags.terms.length > 0)
            {
                display_chart(json.facets.hashtags.terms);
                load_sample(json.facets.hashtags.terms, start, stop);
            }
        },
        error: function(xhr, message, error) {
            console.error("Error while loading data from ElasticSearch", message);
            throw(error);
        }
    });

    var display_chart = function(terms) {
        var data = terms;

        var width = 400,
            height = 400,
            radius = Math.min(width, height) / 2;

        var color = d3.scale.ordinal()
            .range(["#98abc5", "#8a89a6", "#7b6888", "#6b486b", "#a05d56", "#d0743c", "#ff8c00"]);

        var arc = d3.svg.arc()
            .outerRadius(radius - 10)
            .innerRadius(radius - 70);

        var pie = d3.layout.pie()
            .sort(null)
            .value(function(d) { return d.count; });

        var svg = d3.select("#pie").append("svg")
            .attr("width", width)
            .attr("height", height)
            .append("g")
            .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

        var g = svg.selectAll(".arc")
            .data(pie(data))
            .enter().append("g")
            .attr("class", "arc");

        g.append("path")
            .attr("d", arc)
            .style("fill", function(d) { return color(d.data.count); });

        g.append("text")
            .attr("transform", function(d) { return "translate(" + arc.centroid(d) + ")"; })
            .attr("dy", ".35em")
            .style("text-anchor", "middle")
            .text(function(d) { return d.data.term; });
    };
};

var load_timeline = function(start, stop) {
    $("#timeline").html('');

    $.ajax({
        url: '{{ elasticsearch_url }}/twitter/_search',
        type: 'POST',
        data: JSON.stringify({
          "query": {
            "constant_score": {
              "filter": {
                "range": {
                  "created_at": {
                    "from": start,
                    "to": stop,
                    "include_lower": false,
                    "include_upper": false
                  }
                }
              }
            }
          },
          "facets": {
            "created_at": {
              "date_histogram": {
                "field": "created_at",
                "interval": "day"
              }
            }
          }
        }),
        dataType : 'json',
        processData: false,
        success: function(json, statusText, xhr) {
            if (json.facets.created_at.entries.length > 0)
                return display_timeline(json.facets.created_at.entries);
        },
        error: function(xhr, message, error) {
            console.error("Error while loading data from ElasticSearch", message);
            throw(error);
        }
    });

    var display_timeline = function(data) {
        var margin = {top: 10, right: 10, bottom: 100, left: 40},
            margin2 = {top: 430, right: 10, bottom: 20, left: 40},
            width = 920 - margin.left - margin.right,
            height = 500 - margin.top - margin.bottom,
            height2 = 500 - margin2.top - margin2.bottom;

        var x = d3.time.scale().range([0, width]),
            x2 = d3.time.scale().range([0, width]),
            y = d3.scale.linear().range([height, 0]),
            y2 = d3.scale.linear().range([height2, 0]);

        var xAxis = d3.svg.axis().scale(x).orient("bottom"),
            xAxis2 = d3.svg.axis().scale(x2).orient("bottom"),
            yAxis = d3.svg.axis().scale(y).orient("left");

        var brush = d3.svg.brush()
            .x(x2)
            .on("brush", brush);

        var area = d3.svg.area()
            .interpolate("monotone")
            .x(function(d) { return x(d.date); })
            .y0(height)
            .y1(function(d) { return y(d.count); });

        var area2 = d3.svg.area()
            .interpolate("monotone")
            .x(function(d) { return x2(d.date); })
            .y0(height2)
            .y1(function(d) { return y2(d.count); });

        var svg = d3.select("#timeline").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom);

        svg.append("defs").append("clipPath")
            .attr("id", "clip")
            .append("rect")
            .attr("width", width)
            .attr("height", height);

        var focus = svg.append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        var context = svg.append("g")
            .attr("transform", "translate(" + margin2.left + "," + margin2.top + ")");

        data.forEach(function(d) {
            d.date = new Date(d.time)
            //d.count = +d.count;
        });

        x.domain(d3.extent(data.map(function(d) { return d.date; })));
        y.domain([0, d3.max(data.map(function(d) { return d.count; }))]);
        x2.domain(x.domain());
        y2.domain(y.domain());

        focus.append("path")
          .datum(data)
          .attr("clip-path", "url(#clip)")
          .attr("d", area);

        focus.append("g")
          .attr("class", "x axis")
          .attr("transform", "translate(0," + height + ")")
          .call(xAxis);

        focus.append("g")
          .attr("class", "y axis")
          .call(yAxis);

        context.append("path")
          .datum(data)
          .attr("d", area2);

        context.append("g")
          .attr("class", "x axis")
          .attr("transform", "translate(0," + height2 + ")")
          .call(xAxis2);

        context.append("g")
          .attr("class", "x brush")
          .call(brush)
          .selectAll("rect")
          .attr("y", -6)
          .attr("height", height2 + 7);

        function brush() {
            x.domain(brush.empty() ? x2.domain() : brush.extent());
            var extent = brush.extent();
            $('#dp-start').datepicker('setValue', extent[0]);
            $('#dp-stop').datepicker('setValue', extent[1]);
            focus.select("path").attr("d", area);
            focus.select(".x.axis").call(xAxis);
        }
    }
};

var load_tweets = function(position) {
    console.log(position);
    $.ajax({
        url: '{{ elasticsearch_url }}/twitter/_search',
        type: 'POST',
        data: JSON.stringify({
            "query" : { "match_all" : {} },
            "filter" : {
                "geo_distance" : {
                    "distance" : "200km",
                    "geo.location" : [position.lat, position.lng]
                }
            }
        }),
        dataType : 'json',
        processData: false,
        success: function(json, statusText, xhr) {
            var batch = [];
            json.hits.hits.forEach(function(d) {
                console.log(d);
                var lat = d._source.geo.location[0];
                var lon = d._source.geo.location[1];
                var title = d._source.text;
                var marker = new L.Marker(new L.LatLng(lat, lon), { title: title });
                marker.bindPopup(title);
                batch.push(marker);
            });

            markers.clearLayers();
            markers.addLayers(batch);
        },
        error: function(xhr, message, error) {
            console.error("Error while loading data from ElasticSearch", message);
            throw(error);
        }
    });
};

$('#dp-start').datepicker();
$('#dp-stop').datepicker();
$('#timeline-update').click(function() {
    var start = $("#dp-start").data('date').replace(/-/g, '/') + " 00:00:00";
    var stop = $("#dp-stop").data('date').replace(/-/g, '/') + " 00:00:00";

    load_hashtags(start, stop);
    load_timeline(start, stop);
});
    </script>
  {% endblock %}
</div>
</body>